<section>
    <div style="text-align: center;" id="speaker">
    <h2>While you are here...</h2>
        <p style="text-align: center;"><a href="https://www.platformoftrust.net/">Check out Platform of Trust</a> in which I've worked to enable best possible developer experience!</p>
        <p style="text-align: center;"><a href="https://www.platformoftrust.net/"><img style="display: block;margin-left: auto;margin-right: auto;" src="{{site.baseurl}}/assets/img/pot.png"/></a></p>
    </div>
</section>
