<section class="share">
    <h3>Πείτε το και σε άλλους</h3>
    <a aria-label="Διαμοιρασμός στο Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Διαμοιρασμός στο Twitter">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a aria-label="Διαμοιρασμός στο Facebook"href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Διαμοιρασμός στο Facebook">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a aria-label="Διαμοιρασμός στο LinkedIn" href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" title="Διαμοιρασμός στο LinkedIn">
        <svg class="icon icon-facebook"><use href="{{site.baseurl}}/assets/img/social/linkedin-icon"></use></svg>
    </a>
</section>
