<div id="speaker">
        <p>Even if the <b>#100daysdx</b> content would be mediocre, it is the biggest open resource on Developer eXperience so far.</p>
</div>

<div id="speaker">
        <h2>Support the work via Patreon</h2> 
        
        <p>If you see value in the content and want to see more of it, <a href="https://www.patreon.com/100daysdx">make a donation via Patreon.</a></p>
        <a href="https://www.patreon.com/bePatron?u=22486729" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>


<div id="speaker">
    <h2>Want to hear more of the Developer eXperience and how it can boost your business?</h2> 
    
    <p>I would gladly do a webinar or speak at your event. Let's connect and discuss the details. <a href="/about/">Contact details.</a></p>
    <p>Jarkko Moilanen, Developer eXperience Lead at <a href="https://platformoftrust.net">Platform of Trust</a></p>
    <img src="/assets/img/jarkko.jpg" style="border-radius: 50%;"/>
</div>