.header-site {
 background-color: #ef5100;
 background-image: url("/assets/img/bg.png");
 background-repeat: no-repeat;
}

.header-post {
 background-color: #ef5100;
 background-image: url("/assets/img/bg2.png");
 background-repeat: no-repeat;
}
.header-post .subtitle {
 font-size: 1.9em;

}
footer {
 background-color: #ef5100;
}

.post-item .datetime .day {
 font-size: 1.125rem;
 font-weight:normal;
 color:#a1a1a1;
 font-family: 'Open Sans',sans-serif;
}

.post-item .datetime .month-year {
 font-size: 1.125rem;
 font-weight:normal;
 color:#a1a1a1;
 font-family: 'Open Sans',sans-serif;
}

.post-item .datetime .day::after {
  content: " - ";
}

blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
  padding: .5rem;
  border-left: none; 
  font-style: italic;
}

.post-content blockquote:before,
.post-content blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

.post-content blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

.post-content blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}

.post-item .content .post-title {
  margin-top: -8px;
}

#speaker {

	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	font-family: 'Open Sans',sans-serif;

	font-weight: 300;
	
	font-style: normal;
	
	font-size: 1.25rem;
}

ul li {

	margin-left:40px;
}

#topic-list ul {
	list-style-type: none;
	margin-left:0px;
}


#topic-list li a {
	background-color: #fff;
	padding: 0.5em 0.5em;
	position: relative;
	text-decoration: none;
	text-transform: none;
	margin-left:0px;
	margin-bottom:20px;
	min-width:100%;
	max-width:100%x;

	}
	
#topic-list ul li a:hover {
	  background-color: #ce0606;
}

.pagination {

	margin: auto;
	text-align: center;
	width: 100%;
	background-color: #eee;
	min-height: 110px;
	padding: 1.5em 1.5em;
	font-weight: 700;
	
	font-style: normal;
	color: #000;
	font-size: 1.25rem;
	margin-top:-5px;
}

.testimonial {

	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	font-family: 'Open Sans',sans-serif;

	font-weight: 500;
	width: 80%;
	font-style: normal;
	
	font-size: 2.0rem;
	
}

.testimonial p{

	width: 90%;
	font-style: normal;
	
	
}

.divider {
	background-color: #eee;
	max-height: 3px;
	width:90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom:30px;
}