.header-site {
 background-color: #ef5100;
}

.header-post {
 background-color: #ef5100;
}

footer {
 background-color: #ef5100;
}

.post-item .datetime .day {
 font-size: 1.125rem;
 font-weight:normal;
 color:#ddd;
 padding-top:70px;
}

.post-item .datetime .day::after {
  content: " - ";
}
