# Config for GNU GRand Unified Bootloader (GRUB)
# /boot/grub/grub.cfg

# Timeout for menu
set timeout=30

# Default boot entry
set default=0

# Menu Colours
set menu_color_normal=white/black
set menu_color_highlight=white/green

# Path to the partition holding ISO images (using UUID)
#set imgdevpath="/dev/disk/by-uuid/UUID_value"
# ... or...
# Path to the partition holding ISO images (using device labels)
#set imgdevpath="/dev/disk/by-label/label_value"
set imgdevpath="/dev/disk/by-label/MULTIBOOT"

# Boot ISOs

menuentry "openSUSE Tumbleweed GNOME" --class suse --class os {
	loopback loop /iso/openSUSE-Tumbleweed-GNOME-Live-x86_64-Current.iso
	echo Loading linux...
	set gfxpayload=keep
	$linux (loop)/boot/x86_64/loader/linux iso-scan/filename=/iso/openSUSE-Tumbleweed-GNOME-Live-x86_64-Current.iso root=live:CDLABEL=openSUSE_Tumbleweed_GNOME_Live  install=hd:/iso/openSUSE-Tumbleweed-GNOME-Live-x86_64-Current.iso loader=syslinux splash=silent quiet showopts
	echo Loading initrd...
	$initrd (loop)/boot/x86_64/loader/initrd
}

menuentry 'openSUSE Tumbleweed KDE Live x86_64' {
        set isofile='/iso/openSUSE-Tumbleweed-KDE-Live-x86_64.iso'
        loopback loop $isofile
        linux (loop)/boot/x86_64/loader/linux isofrom_device=$imgdevpath isofrom_system=$isofile LANG=en_US.UTF-8
        initrd (loop)/boot/x86_64/loader/initrd
}

menuentry 'openSUSE Tumbleweed GNOME Live 32bit' {
        set isofile='/iso/openSUSE-Tumbleweed-GNOME-Live-i686.iso'
        loopback loop $isofile
        linux (loop)/boot/i386/loader/linux isofrom_device=$imgdevpath isofrom_system=$isofile LANG=en_US.UTF-8
        initrd (loop)/boot/i386/loader/initrd
}

menuentry 'openSUSE Tumbleweed KDE Live 32bit' {
        set isofile='/iso/openSUSE-Tumbleweed-KDE-Live-i686.iso'
        loopback loop $isofile
        linux (loop)/boot/i386/loader/linux isofrom_device=$imgdevpath isofrom_system=$isofile LANG=en_US.UTF-8
        initrd (loop)/boot/i386/loader/initrd
}

menuentry "openSUSE Tumbleweed DVD" --class suse --class os {
	loopback loop /iso/openSUSE-Tumbleweed-DVD-x86_64.iso
	echo Loading linux...
	set gfxpayload=keep
	$linux (loop)/boot/x86_64/loader/linux isofrom=/dev/disk/by-uuid/e1218c6f-6c55-47bc-8297-4ab1f2d3dd66:/iso/openSUSE-Tumbleweed-DVD-x86_64.iso isofrom_device=/dev/disk/by-uuid/e1218c6f-6c55-47bc-8297-4ab1f2d3dd66 isofrom_system=/iso/openSUSE-Tumbleweed-DVD-x86_64.iso  install=hd:/iso/openSUSE-Tumbleweed-DVD-x86_64.iso loader=syslinux splash=silent quiet showopts
	echo Loading initrd...
	$initrd (loop)/boot/x86_64/loader/initrd
}

menuentry 'openSUSE-Tumbleweed-DVD-i586' {
        set isofile='/iso/openSUSE-Tumbleweed-DVD-i586.iso'
        loopback loop $isofile
        linux (loop)/boot/i386/loader/linux install=hd:$isofile
        initrd (loop)/boot/i386/loader/initrd
}

menuentry "openSUSE Tumbleweed NET" --class suse --class os {
	loopback loop /iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso
	echo Loading linux...
	set gfxpayload=keep
	$linux (loop)/boot/x86_64/loader/linux isofrom=/dev/disk/by-uuid/e1218c6f-6c55-47bc-8297-4ab1f2d3dd66:/iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso isofrom_device=/dev/disk/by-uuid/e1218c6f-6c55-47bc-8297-4ab1f2d3dd66 isofrom_system=/iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso  install=hd:/iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso loader=syslinux splash=silent quiet showopts
	echo Loading initrd...
	$initrd (loop)/boot/x86_64/loader/initrd
}

menuentry 'openSUSE-Tumbleweed-NET-i586' {
        set isofile='/iso/openSUSE-Tumbleweed-NET-i586.iso'
        loopback loop $isofile
        linux (loop)/boot/i386/loader/linux install=hd:$isofile
        initrd (loop)/boot/i386/loader/initrd
}

menuentry 'openSUSE Leap 15.0 DVD x86_64' {
        set isofile='/iso/openSUSE-Leap-15.0-DVD-x86_64.iso'
        loopback loop $isofile
        linux (loop)/boot/x86_64/loader/linux install=hd:$isofile
        initrd (loop)/boot/x86_64/loader/initrd
}

menuentry "openSUSE Leap 15.0 GNOME Live" --class suse --class os {
	loopback loop /iso/openSUSE-Leap-15.0-GNOME-Live-x86_64.iso
	echo Loading linux...
	set gfxpayload=keep
	$linux (loop)/boot/x86_64/loader/linux iso-scan/filename=/iso/openSUSE-Leap-15.0-GNOME-Live-x86_64.iso root=live:CDLABEL=openSUSE_Leap_15.0_GNOME_Live  install=hd:/iso/openSUSE-Leap-15.0-GNOME-Live-x86_64.iso loader=syslinux splash=silent quiet showopts
	echo Loading initrd...
	$initrd (loop)/boot/x86_64/loader/initrd
}


menuentry "openSUSE Leap 15.0 KDE Live" --class suse --class os {
	loopback loop /iso/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso
	echo Loading linux...
	set gfxpayload=keep
	$linux (loop)/boot/x86_64/loader/linux iso-scan/filename=/iso/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso root=live:CDLABEL=openSUSE_Leap_15.0_KDE_Live  install=hd:/iso/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso loader=syslinux splash=silent quiet showopts
	echo Loading initrd...
	$initrd (loop)/boot/x86_64/loader/initrd
}


menuentry "openSUSE Leap 15.0 NET" --class suse --class os {
	loopback loop /iso/openSUSE-Leap-15.0-NET-x86_64.iso
	echo Loading linux...
	set gfxpayload=keep
	$linux (loop)/boot/x86_64/loader/linux isofrom=/dev/disk/by-uuid/e1218c6f-6c55-47bc-8297-4ab1f2d3dd66:/iso/openSUSE-Leap-15.0-NET-x86_64.iso isofrom_device=/dev/disk/by-uuid/e1218c6f-6c55-47bc-8297-4ab1f2d3dd66 isofrom_system=/iso/openSUSE-Leap-15.0-NET-x86_64.iso  install=hd:/iso/openSUSE-Leap-15.0-NET-x86_64.iso loader=syslinux splash=silent quiet showopts
	echo Loading initrd...
	$initrd (loop)/boot/x86_64/loader/initrd
}

menuentry 'NetBoot CD 6.2' {
        set isofile='/iso/NetbootCD-6.2.iso'
        loopback loop $isofile
        linux (loop)/boot/vmlinuz isoloop=$isofile
        initrd (loop)/boot/nbinit4.gz
}

menuentry 'Antergos 18.11 64bit' -class antergos --class os {
        set isofile='/iso/antergos-18.11-x86_64.iso'
        loopback loop "$isofile"
	set dri=“free”
	probe -u $root --set=abc
	set pqr="/dev/disk/by-uuid/$abc"
	bootoptions="img_dev=$pqr img_loop=$isofile driver=$dri tz=Europe/Athens l ang=en_US keytable=us"
        linux (loop)/arch/boot/vmlinuz $bootoptions
	initrd (loop)/arch/boot/archiso.img
}

menuentry 'Arch Linux 64bit' {
        set isofile='/iso/archlinux-2017.11.01-dual.iso'
        loopback loop $isofile
        linux (loop)/arch/boot/x86_64/vmlinuz archisodevice=/dev/loop0 img_dev=$imgdevpath img_loop=$isofile
	initrd (loop)/arch/boot/x86_64/archiso.img
}

menuentry 'Arch Linux 32bit' {
        set isofile='/iso/archlinux-2017.11.01-dual.iso'
        loopback loop $isofile
        linux (loop)/arch/boot/i686/vmlinuz archisodevice=/dev/loop0 img_dev=$imgdevpath img_loop=$isofile
	initrd (loop)/arch/boot/i686/archiso.img
}

menuentry 'Anarchy 64bit' {
        set isofile='/iso/anarchy-1.0.0-x86_64.iso'
        loopback loop $isofile
        linux (loop)/arch/boot/x86_64/vmlinuz archisodevice=/dev/loop0 img_dev=$imgdevpath img_loop=$isofile
	initrd (loop)/arch/boot/x86_64/archiso.img
}

menuentry 'Anarchy CLI 64bit' {
        set isofile='/iso/anarchy-cli-1.0.0-x86_64.iso'
        loopback loop $isofile
        linux (loop)/arch/boot/x86_64/vmlinuz archisodevice=/dev/loop0 img_dev=$imgdevpath img_loop=$isofile
	initrd (loop)/arch/boot/x86_64/archiso.img
}

menuentry 'Revenge Arch Install' {
        set isofile='/iso/revenge_installer-2017.03-x86_64.iso '
        loopback loop $isofile
        linux (loop)/arch/boot/x86_64/vmlinuz archisodevice=/dev/loop0 img_dev=$imgdevpath img_loop=$isofile
	initrd (loop)/arch/boot/x86_64/archiso.img
}

menuentry 'OBRevenge MATE Arch Install' {
        set isofile='/iso/materevenge-2017.05-x86_64.iso'
        loopback loop $isofile
        linux (loop)/arch/boot/x86_64/vmlinuz archisodevice=/dev/loop0 img_dev=$imgdevpath img_loop=$isofile
	initrd (loop)/arch/boot/x86_64/archiso.img
}

menuentry 'Forget Windows Use Linux' {
        set isofile='/iso/FWUL_1-4_x86-64.iso'
        loopback loop $isofile
        linux (loop)/arch/boot/x86_64/vmlinuz archisodevice=/dev/loop0 img_dev=$imgdevpath img_loop=$isofile
	initrd (loop)/arch/boot/x86_64/archiso.img
}

menuentry 'Fedora-Live-Workstation-23-x86_64' {
	set isofile='/iso/Fedora-Live-Workstation-x86_64-23-10.iso'
	loopback loop $isofile
	linux (loop)/isolinux/vmlinuz0 root=live:CDLABEL=Fedora-Live-WS-x86_64-23-10 iso-scan/filename=$isofile rd.live.image
	initrd (loop)/isolinux/initrd0.img
}

menuentry "Linux Mint 18 MATE LTS (x64)" {
    	set iso=/iso/linuxmint-18-mate-64bit.iso
    	loopback loop $iso
    	linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$iso noeject noprompt 
    	initrd (loop)/casper/initrd.lz
}

menuentry "Linux Mint 18 MATE LTS (32bit)" {
    	set iso=/iso/linuxmint-18-mate-32bit.iso
    	loopback loop $iso
    	linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$iso noeject noprompt 
    	initrd (loop)/casper/initrd.lz
}

menuentry "Custom Linux Mint 17.10 MATE LTS (32bit)" {
    	set iso=/iso/linux.mint.17.10.iso
    	loopback loop $iso
    	linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$iso noeject noprompt 
    	initrd (loop)/casper/initrd.img
}

menuentry "Pepermint 8 (32bit)" {
    	set iso=/iso/Peppermint-8-20171130-i386.iso
    	loopback loop $iso
    	linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$iso noeject noprompt 
    	initrd (loop)/casper/initrd.lz
}

menuentry "Ubuntu 18.04.1" --class ubuntu --class os {
	loopback loop /iso/ubuntu-18.04.1-desktop-amd64.iso
	echo Loading linux...
	set gfxpayload=keep
	linux (loop)//casper/vmlinuz boot=casper iso-scan/filename=/iso/ubuntu-18.04.1-desktop-amd64.iso  quiet splash
	echo Loading initrd...
	initrd (loop)/casper/initrd.lz
}

menuentry 'KDE Neon 64bit' {
	    set isofile='/iso/neon-useredition-amd64.iso'
	    loopback loop $isofile
	    linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile locale=en_US.UTF-8
	    initrd (loop)/casper/initrd.lz
}

menuentry 'kubuntu 16.04.2 desktop 64bit' {
	set isofile='/iso/kubuntu-16.04.2-desktop-amd64.iso'
	loopback loop $isofile
	linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile locale=en_US.UTF-8
	initrd (loop)/casper/initrd.lz
}

menuentry "Ubuntu Budgie Remix 16.04.2 64bit" {
	set isofile='/iso/budgie-remix-16.04.2-amd64.iso'
	loopback loop $isofile
	linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile locale=en_US.UTF-8
	initrd (loop)/casper/initrd.lz
}

menuentry "Ubuntu 16.04 LTS - 64bit Mini-Installer" {
    	set iso="/iso/ubuntu-1604-mini-64.iso"
    	loopback loop $iso
    	linux (loop)/linux boot=casper iso-scan/filename=$iso noprompt noeject
    	initrd (loop)/initrd.gz
}

menuentry "Ubuntu 18.04 mini 64.iso" --class ubuntu --class os {
	loopback loop /iso/Ubuntu_mini_64.iso
	echo Loading linux...
	set gfxpayload=keep
	linux (loop)/linux boot=casper iso-scan/filename=/iso/Ubuntu_mini_64.iso  quiet splash
	echo Loading initrd...
	initrd (loop)/initrd.gz
}


menuentry "Ubuntu 18.04 mini 32.iso" --class ubuntu --class os {
	loopback loop /iso/Ubuntu_mini_32.iso
	echo Loading linux...
	set gfxpayload=keep
	linux (loop)/linux boot=casper iso-scan/filename=/Uiso/buntu_mini_32.iso  quiet splash
	echo Loading initrd...
	initrd (loop)/initrd.gz
}

menuentry "Bodhi Legacy" {
    	set iso=/iso/bodhi-4.4.0-legacy.iso
    	loopback loop $iso
    	linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$iso noeject noprompt 
    	initrd (loop)/casper/initrd.lz
}

menuentry "Bodhi 64bit" {
    	set iso=/iso/bodhi-4.4.0-apppack-64.iso
    	loopback loop $iso
    	linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$iso noeject noprompt 
    	initrd (loop)/casper/initrd.lz
}

menuentry "PCLinuxOS MATE 32bit 2014.12" {
	search --set -f "/iso/pclinuxos-mate-2014.12.iso"
	loopback loop "/iso/pclinuxos-mate-2014.12.iso"
	linux (loop)/isolinux/vmlinuz fromusb root=UUID=E4B7-5B93 bootfromiso=/iso/pclinuxos-mate-2014.12.iso livecd=livecd apci=on splash=silent fstab=rw,noauto unionfs toram
	initrd (loop)/isolinux/initrd.gz
}

menuentry "PCLinuxOS Trinity" {
	search --set -f "/iso/community-pclinuxos64-tde-2017.06.iso"
	loopback loop "/iso/community-pclinuxos64-tde-2017.06.iso"
	linux (loop)/isolinux/vmlinuz fromusb root=UUID=E4B7-5B93 bootfromiso=/iso/community-pclinuxos64-tde-2017.06.iso livecd=livecd apci=on splash=silent fstab=rw,noauto unionfs toram
	initrd (loop)/isolinux/initrd.gz
}

menuentry "Kaspersky" {
   loopback loop /iso/kav_rescue_10.iso
  set gfxpayload=800x600x16
   set root=(loop)
   linux /boot/rescue root=live:/dev/well/this/is/nonsense rootfstype=auto init=/init initrd=rescue.igz kav_lang=${kav_lang} udev liveimg splash quiet doscsi nomodeset
   initrd /boot/rescue.igz
}

#https://sourceforge.net/projects/antiviruslivecd/
menuentry "AntivirusLiveCD" {
        set isofile='/iso/AntivirusLiveCD-23.0-0.99.2.iso'
        loopback loop $isofile
        linux  (loop)/boot/bzImage iso-scan/filename=$isofile noprompt noeject
        initrd (loop)/boot/initrd.gz
}

menuentry "HIRENS TOOLS" {  
 linux16 /grub.exe —config-file="find —set-root /HBCD/menu.lst; configfile /HBCD/menu.lst" 
}

menuentry "Rescatux-32bit" {
    set isofile="/iso/rescatux-0.40b11.iso"
    loopback loop $isofile
    linux (loop)/live/vmlinuz2 boot=live config union=aufs noswap noprompt locales=en_US.UTF-8 keyboard-layouts=en,en ip=frommedia toram=filesystem.squashfs findiso=$isofile
    initrd (loop)/live/initrd2.img
}

menuentry "Rescatux-64bit" {
    set isofile="/iso/rescatux-0.40b11.iso"
    loopback loop $isofile
    linux (loop)/live/vmlinuz1 boot=live config union=aufs noswap noprompt locales=en_US.UTF-8 keyboard-layouts=en,en ip=frommedia toram=filesystem.squashfs findiso=$isofile
    initrd (loop)/live/initrd1.img
}

#http://liveusb.info/multisystem/slitaz-multisystem/distro/
menuentry "Multisystem (Sliaz)" {
	loopback loop /iso/multisystem-final-r1.iso
	linux (loop)/boot/bzImage rw root=/dev/null lang=C kmap=us screen=1024x768x16 autologin
	initrd (loop)/boot/rootfs.gz
}

menuentry "kali-linux-xfce-amd64" {
	set isofile='/iso/kali-linux-xfce-2016.2-amd64.iso'
	loopback loop $isofile
	linux (loop)/live/vmlinuz boot=live findiso=$isofile noconfig=sudo username=root hostname=kali
	initrd (loop)/live/initrd.img
}

menuentry "Parrot Linux Lite x86" {
	set isofile='/iso/Parrot-full-3.8_i386.iso'
	loopback loop $isofile
	linux (loop)/live/vmlinuz boot=live findiso=$isofile
	initrd (loop)/live/initrd.img
}

menuentry "Tails-amd64" {
	set isofile='/iso/tails-amd64-3.6.2.iso'
	loopback loop $isofile
	linux (loop)/live/vmlinuz boot=live findiso=$isofile
	initrd (loop)/live/initrd.img
}

menuentry "Debian 8.6 64bit" {
	set isofile='/iso/firmware-8.6.0-amd64-i386-netinst.iso'
	set initrdfile='/iso/firmware-8.6.0-amd64-netinst.initrd.gz'
	loopback loop $isofile
	linux (loop)/install.amd/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$isofile vga=788 -- quiet
	initrd $initrdfile
}

menuentry "Debian 8.6 32bit" {
	set isofile='/iso/firmware-8.6.0-amd64-i386-netinst.iso'
	set initrdfile='/iso/firmware-8.6.0-i386-netinst.initrd.gz'
	loopback loop $isofile
	linux (loop)/install.386/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$isofile vga=788 -- quiet
	initrd $initrdfile
}
