pre
    background #222
    width 100%
    padding rem(20px) 0
    color sec
    margin rem(30px) 0
    font-size rem(14px)
    +above(cut)
        font-size rem(16px)
        padding rem(40px) 0
        margin rem(50px) 0
    code
        center(rem(800))
        padding 0 rem(20px)
        +below(cut)
            overflow-x: scroll;
    span
        line-height 1.5rem
        font-family 'Monaco','Consolas','Menlo',monospace

.highlight
    +above(cut)
        word-wrap break-word
    .hll
        background-color #333
    .c
        color #777;
        font-style italic
    .err
        color #fff
    .g
        color #fff
    .k
        color #fff;
        font-weight bold
    .l
        color #fff
    .n
        color #fff
    .o
        color #fff
    .x
        color #fff
    .p
        color #fff
    .cm
        color #777;
        font-style italic
    .cp
        color #ff0007;
        font-weight bold;
        font-style italic
    .c1
        color #777;
        font-style italic
    .cs
        color #777;
        font-style italic
    .gd
        color #fff
    .ge
        color #fff
    .gr
        color #fff
    .gh
        color #fff;
        font-weight bold
    .gi
        color #fff
    .go
        color #444;
        background-color #222
    .gp
        color #fff
    .gs
        color #fff
    .gu
        color #fff;
        font-weight bold
    .gt
        color #fff
    .kc
        color #aa4f85;
        font-weight bold
    .kd
        color #aa4f85;
        font-weight bold
    .kn
        color #aa4f85;
        font-weight bold
    .kp
        color #aa4f85
    .kr
        color #aa4f85;
        font-weight bold
    .kt
        color #aa4f85;
        font-weight bold
    .ld
        color #fff
    .m
        color #29c9ff;
        font-weight bold
    .s
        color #2f7f8a
    .na
        color #ff0086;
        font-weight bold
    .nb
        color #fff
    .nc
        color #fff
    .no
        color #2f7f8a
    .nd
        color #fff
    .ni
        color #fff
    .ne
        color #fff
    .nf
        color #ff0086;
        font-weight bold
    .nl
        color #fff
    .nn
        color #fff
    .nx
        color #fff
    .py
        color #fff
    .nt
        color #fff;
        font-weight bold
    .nv
        color #fff
    .ow
        color #fff
    .w
        color #888
    .mf
        color #29c9ff;
        font-weight bold
    .mh
        color #29c9ff;
        font-weight bold
    .mi
        color #29c9ff;
        font-weight bold
    .mo
        color #29c9ff;
        font-weight bold
    .sb
        color #29c9ff
    .sc
        color #29c9ff
    .sd
        color #29c9ff
    .s2
        color #29c9ff
    .se
        color #29c9ff
    .sh
        color #29c9ff
    .si
        color #29c9ff
    .sx
        color #29c9ff
    .sr
        color #29c9ff
    .s1
        color #29c9ff
    .ss
        color #29c9ff
    .bp
        color #fff
    .vc
        color #fff
    .vg
        color #fff
    .vi
        color #fff
    .il
        color #29c9ff;
        font-weight bold

